<form name="Item_1" action="{{url_for(main.create_post)}}" method="POST">
      <label for="exampleFormControlFile2">Choose colour</label>
        <select name="colours">
          {% for colour in colours %}
            <option value="{{ colour }}" SELECTED>{{ colour }}</option>
          {% endfor %}     
        </select>
    </form>