#body {
    display:flex;
}

.fixed-container {
    position: fixed;
}

header {
    text-align: center;
    padding: 15px;
    margin-top: 25px;
}

main {
    border-radius: 5px;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    padding-top: 10px;
    background-color: #e5e5e5;
}

footer {
    padding: 15px;
    text-align: center;
    margin-top: 25px;
}

.card {
    margin-bottom: 80px;
    margin-top: 20px;
}

#delete-post {
    background-color: lightgrey;
    text-align: center;
    padding: 40px;
    margin-top: 50px;
    border-radius: 10px;
}

#delete-post button {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}