{% extends './base.html.j2' %}
{% block content %}
    <div id="body">
        <header class="fixed-container col-3" id="left">
            {% include './includes/nav.html.j2' %}
        </header>
        <main class="container col-6" id="middle">
            <h1>Devotions</h1>
            <p>Coming Soon</p>
        </main>
        <footer class="fixed-container col-3 offset-9 " id="right">
            {% include './includes/nav2.html.j2' %}
        </footer>
    </div>
{% endblock %}