{% extends './base.html.j2' %}

{% block title %}
    Edit Post
{% endblock %}

{% block content %}
    <form method="POST" action="{{url_for('main.edit_post', id=post.id)}}" class="mb-5">
        <div class="mb-1">
            <textarea class="form-control"
                name="body"
                style="height: 100px"
                placeholder = "Message Here"
            >{{post.body}}</textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit Edit</button>
    </form>
{% endblock %}