{% extends 'base.html.j2' %}

{% block content %}
{% if post %}
    <div class="col-6 offset-3" id="delete-post">
        <h1>Delete Post?</h1>
        <a href="{{url_for('main.delete_post', id=post.id)}}"><button class="btn btn-primary">Delete</button></a>
        <a href="{{url_for('index')}}"><button class="btn btn-primary">Back</button></a>
    </div>
{% endif %}
{% if user %}
    <div class="col-6 offset-3" id="delete-post">
        <h1>Delete User?</h1>
        <a href="{{url_for('main.delete_user', id=user.id)}}"><button class="btn btn-primary">Delete</button></a>
        <a href="{{url_for('index')}}"><button class="btn btn-primary">Back</button></a>
    </div>
{% endif %}
{% endblock %}